.nav-container{
    background-color: #2874f0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 100px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.logo>img {
    width: 75px;
    object-fit: contain;
}

.logo__1{
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    font-family: Arial, sans-serif;
    color: white;
}

.search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    margin-left: -30px;
    margin-right: -25px;
}

.search-box>input{
        border:none;
        outline: none;
        font-size: 14px;
        font-family: 'Roboto',Arial,sans-serif;
        border-radius: 3px;
        padding: 10px 15px;
        width: 24vw;
        height: 15px;
}

.search>.MuiSvgIcon-root{
    color: #2874f0;
    padding-right: 10px;
}

.login> button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 9vw;
    height: 30px;
    color: #2874f0;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto',Arial,sans-serif;
}

.become-seller{
    font-size: 14xpx;
    font-weight: 500;
    font-family: 'Roboto',Arial,sans-serif;
    cursor: pointer;
}


.more>span{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-family: 'Roboto',Arial,sans-serif;
}

.more>.MuiSvgIcon-root{
   width: 20px;
}

.cart{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto',Arial,sans-serif;
}

.cart .MuiSvgIcon-root{
    margin-right: 2px;
 }
